.background {

}
.heading{
    text-align:center;
    font-family: arvo;
    color: #FFFFFF;
    background-color: #8ABD25;
    height: 60px;
}
.operation {
    color: #4804f2;
}

.createFields {
    padding-left: 10px;
}

.deleteFields {
    padding-left: 10px;
}
.listFields {
    padding-left: 10px;
}

.queryField{
    margin-left: 10px;
}

.searchLabel {
    width: 100px;
    float: left;
}

.labelLarge {
    width: 150px;
    float: left;
}
.searchText {
    width: 200px;
}

.textLarge {
    width: 250px;
}

.textSmall {
    width: 60px;
}

.searchResults {
    height: 300px;
    margin-top: 10px;
    margin-left: 10px;
}

.button {
    margin-left: 10px;
}

.buttonMedium {
    width:60px;
    height: 25px;
}
.buttonLarge {
    width: 70px;
    height: 30px;
}

.createButton {
    float: left;
}

.clearLink {
    margin-left: 15px;
    font-size: 20px;

}

.statusMsg {
    margin-top:10px;
    font-weight: bold;
}
.statusImg {
    margin-top:5px;
    margin-right: 5px;
    float: left;
}
.statusText {
    padding-top: 5px;
    margin-left: 5px;
}

.success {
    color: green;
}

.error {
    color: red;
}


th{
    border-top: 1px solid #009B9C;
    border-bottom: 1px solid  #009B9C;
    border-left: 1px solid  #009B9C;
}

tr {
  border: 1px solid  #009B9C;
}

td {
  border-bottom: 1px solid  #009B9C;
  border-left: 1px solid  #009B9C;
}

.last {
    border-right: 1px solid  #009B9C;
}

.floatRight {
    float: right;
}


.floatLeft {
    float: left;
}

.left10px {
    margin-left: 10px;
}

.error {
    font-color: #red;
    margin-left: 5px;
}